<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Darty Wynn</title>
        <link rel="stylesheet" type="text/css" href="default.css" />
        <script src="doT.js" type="text/javascript"></script>
        <script src="jquery-1.10.1.js" type="text/javascript"></script>
        @@scripts@@
        <script type="text/javascript">
            // les informations de filtres sont envoyées en json dans un objet.
            // On met l'objet dans une variable, pour l'utiliser facilement
            darty.wynn.pageData = {{=JSON.stringify(it)}};
            darty.wynn.gui.accueil.start();
        </script>
        <script id="indicateurs" type="text/x-dot-template">
            <div class="CA">
                <table>
                    <tr>
                        <th class="fixe"><% %> E</th>
                    </tr>
                    <tr>
                        <th class="evolution"> %</th>
                    </tr>
                </table>
            </div>
            <div class="indicateurs">
                <table>
                    <tr id="accessoires"><th class="label">Accessoires</th>
                        <th class="value"><% %> %</th><tr/>
                    <tr id="services"><th class="label">Services</th>
                        <th class="value"><% %> %</th><tr/>
                    <tr id="offresactives"><th class="label">O A</th>
                        <th class="value"><% %> %</th><tr/>
                    <tr id="remises"><th class="label">Remise</th>
                        <th class="value"><% %> %</th><tr/>
                </table>
            </div>
            <div class="bottom-line">
                <div class="entrees">
                    <span class="label"> entrees </span>
                    <span class="fixe"><% %>11 000</span>
                    (<span class="evolution">%</span>)
                </div>
                <div class="ventes">
                    <span class="entrees" class="label"> ventes </span>
                    <span class="fixe"><% %>4 000</span>(

                    <span class="evolution">
                         %</span>)
                </div>
                <span class="concretisation"> concretisation</span>
                <span class="fixe"><% %>4780</span>
            </div>
        </script>

        <script id="load-ranking" type="text/x-dot-template">
            <div id="informations">
                <div id="position"><p>Le magasin est actuellement classe a la position : <% %></p>
                <% %>
                    <p>Le magasin a progresse de X<% %>place<% %>(s)<% %><% %></p>
                <% %>
                    <p>Le magasin a perdu <% %>X place<% %>(s)<% %><% %></p>
                <!-- <% %> -->
                </div>
                <div id="top5">
                    <table>
                        <tr><th>X</th><th>critere 2</th><th>critere 4</th><th>critere 4</th><th>critere 5</th></tr>
                        <tr><th>mag 1 (rank)</th><th>val 1</th><th>val 2</th><th>val 4</th><th>val 4</th></tr>
                        <tr><th>mag 2 (rank)</th><th>val 2.1</th><th>val 2.2</th><th>val 2.3</th><th>val 2.4</th></tr>
                        <tr><th>mag 3 (rank)</th><th>val 3.1</th><th>val 3.2</th><th>val 3.3</th><th>val 3.4</th></tr>
                        <tr><th>mag 4 (rank)</th><th>val 4.1</th><th>val 4.2</th><th>val 4.3</th><th>val 4.4</th></tr>
                        <tr><th>mag 5 (rank)</th><th>val 5.1</th><th>val 5.2</th><th>val 5.3</th><th>val 5.4</th></tr>
                        <tr><th>mag 16 (rank)</th><th>val 13.1</th><th>val 13.2</th><th>val 13.3</th><th>val 13.4</th></tr>
                    </table>

                </div>
            </div>
        </script>

        <script id="navigation-bar" type="text/x-dot-template">
            <div><span>Darty France</span></div>
        </script>

    </head>
    <body>
        <p></p>
        <div id="content">
            <div id="content-left">
                <div id="content-header"></div>
            </div>
            <div id="content-right"></div>
        </div>
    </body>
</html>