<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Darty Wynn</title>
        <link rel="stylesheet" type="text/css" href="default.css" />
        @@base_scripts@@
        @@scripts@@
        <script type="text/javascript">
            // les informations de filtres sont envoyées en json dans un objet.
            // On met l'objet dans une variable, pour l'utiliser facilement
            darty.wynn.pageData = {{=JSON.stringify(it)}};
            darty.wynn.gui.accueil.start();
        </script>
        <script id="indicateurs" type="text/x-dot-template">
			<div id="zone"> <!-- Utiliser une fonction pour placer la box en dessous de la première case du tableau ?! -->
				Zone menu 
				<div class="menu">
					<div id="org00" class="btn-menu">Catalogue</div>
					<div id="org01" class="btn-menu">Univers</div>
					<div id="org02" class="btn-menu">F. Mkg</div>
					<div id="org03" class="btn-menu">F. Budget</div>
					<div id="org04" class="btn-menu">Rayon</div>
				</div>
			</div>
            <div class="CA">
                <table>
                    <tr id="ligneARajouter">
                        <th  class="fixe color_X" id="affichageCa"><span> €</span></th>
                    </tr>
                    <tr>
                        <th class="evolution color_<%=darty.wynn.gui.accueil.getScoreEvol(it.ca2m, it.ca1y, it.caGlobal2m, null)%>"><%=it.caEvol %> %</th>
                    </tr>
                </table>
            </div>
            <div class="indicateurs">
                <table>
                    <tr id="accessoires"><th class="label">Accessoires</th>
                        <th class="value color_<%=darty.wynn.gui.accueil.getScoreEvol(it.vtAcc2m, it.vtAcc1y, it.vtAccGlobal2m, null)%>"><%=it.vtAcc2m %> %</th><tr/>
                    <tr id="services"><th class="label">Services</th>
                        <th class="value color_<%=darty.wynn.gui.accueil.getScoreEvol(it.vtServ2m, it.vtServ1y, it.vtServGlobal2m, null)%>"><%=it.vtServ2m %> %</th><tr/>
                    <tr id="offresactives"><th class="label">O A</th>
                        <th class="value color_<%=darty.wynn.gui.accueil.getScoreEvol(it.vtOA2m, it.vtOA1y, it.vtOAGlobal2m, null)%>"><%=it.vtOa2m %> %</th><tr/>
                    <tr id="remises"><th class="label">Remise</th>
                        <th class="value color_<%=darty.wynn.gui.accueil.getScoreEvol(it.caRem2m, it.caRem1y, it.caRemGlobal2m, null)%>"><%=it.caRem2m %> %</th><tr/>
                </table>
            </div>
            <div class="bottom-line">
                <div class="entrees">
                    <span class="label"> entrées </span>
                    <span class="fixe"><%=it.ent2m %></span>
                    (<span class="evolution color_<%=darty.wynn.gui.accueil.getScoreEvol(it.ent2m, it.ent1y, null, null)%>"><%=darty.wynn.gui.accueil.calcEvol(it.ent2m, it.ent1y)%> %</span>)
                </div>
                <div class="ventes">
                    <span class="entrees" class="label"> ventes </span>
                    <span class="fixe"><%=it.vt2m %></span>(

                    <span class="evolution color_<%=darty.wynn.gui.accueil.calcEvol(it.vt2m, it.vt1y, null, null)%>"><%=darty.wynn.gui.accueil.calcEvol(it.vt2m, it.vt1y)%> %</span>)
                </div>
                <span class="concretisation"> concrétisation</span>
                <span class="fixe"><%=it.concret %></span>
            </div>
             <div id="refreshTimer"> </div>
        </script>

        <script id="load-ranking" type="text/x-dot-template">
            <div id="informations">
                <div id="position"><p>Le magasin est actuellement classe a la position : <% %></p>
                <% %>
                    <p>Le magasin a progresse de X<% %>place<% %>(s)<% %><% %></p>
                <% %>
                    <p>Le magasin a perdu <% %>X place<% %>(s)<% %><% %></p>
                <!-- <% %> -->
                </div>
                <div id="top5">
                    <table>
                        <tr><th>X</th><th>critere 2</th><th>critere 4</th><th>critere 4</th><th>critere 5</th></tr>
                        <tr><th>mag 1 (rank)</th><th>val 1</th><th>val 2</th><th>val 4</th><th>val 4</th></tr>
                        <tr><th>mag 2 (rank)</th><th>val 2.1</th><th>val 2.2</th><th>val 2.3</th><th>val 2.4</th></tr>
                        <tr><th>mag 3 (rank)</th><th>val 3.1</th><th>val 3.2</th><th>val 3.3</th><th>val 3.4</th></tr>
                        <tr><th>mag 4 (rank)</th><th>val 4.1</th><th>val 4.2</th><th>val 4.3</th><th>val 4.4</th></tr>
                        <tr><th>mag 5 (rank)</th><th>val 5.1</th><th>val 5.2</th><th>val 5.3</th><th>val 5.4</th></tr>
                        <tr><th>mag 16 (rank)</th><th>val 13.1</th><th>val 13.2</th><th>val 13.3</th><th>val 13.4</th></tr>
                    </table>

                </div>
            </div>
        </script>

        <script id="navigation-bar" type="text/x-dot-template">
            <div><span>Darty France</span></div>
        </script>

    </head>
    <body>
        <p></p>
        <div id="content">
            <div id="content-left">
                <div id="content-header"></div>
            </div>
            <div id="content-right"></div>
        </div>
    </body>
</html>