<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Darty Wynn</title>
        <link rel="stylesheet" type="text/css" href="default.css" />
		<link rel="stylesheet" type="text/css" href="mediaqueries.css">
        <link rel="stylesheet" type="text/css" href="reset.css">
		
        @@base_scripts@@
        @@scripts@@
        <script type="text/javascript">
			obj = {{=JSON.stringify(it)}};
            darty.wynn.pageData = {{=JSON.stringify(it)}};
            darty.wynn.gui.details.start();
			var prd = "prd";
			var org = "org";
			// TODO : envoyer l'objet depuis le serv en ajax et le "cacher"
			obj.dims = {}
			obj.dims.org = {"org1":"Filiale","org2":"ZDV","org3":"Magasin","org4":"Vendeur"};
			obj.dims.prd = {"prd1":"Univers","prd2":"Rayon","prd3":"Gamme","prd4":"F. Budg","prd5":"F. Mkg","prd6":"Codic"} // couleur (R.K.), 
			// sera ajouté avec les droits d'utilisateur
        </script>
		<script type="text/javascript">
			
		</script>
        <script id="tmplDetailsTable" type="text/x-dot-template">
            <!-- <div id="menu"> -->
				
			<!-- </div> -->
			<div style="color:white" id="pageNumberLoader">
			</div>
			<table id="detailsTable">
				<thead>
						<tr>
							<th id="col0">
								<div id="zone">									
								</div>
							</th>
							<th id="col1">CA
								<!-- <img class="arrow" src="./img/arrow.png"> -->
							</th>
							<th id="col2">% Evol
								<!-- <img class="arrow" src="./img/arrow.png"> -->
							</th>
							<th id="col3">Acc.
								<!-- <img class="arrow" src="./img/arrow.png"> -->
							</th>
							<th id="col4">PSE et assur.
								<!-- <img class="arrow" src="./img/arrow.png"> -->
							</th>
							<th id="col5">OA.
								<!-- <img class="arrow" src="./img/arrow.png"> -->
							</th>
							<th id="col6">Rem.
								<!-- <img class="arrow" src="./img/arrow.png"> -->
							</th>
						</tr>
					</thead></div>	
				<tbody>
					<%~it.list:line%>
						<tr>
							<td class="content first-column"> <div class="code"><a href="/details?<%=line.ddQuery%>"><%=line.cd%></a> </div>  <div class="libelle"><a href="/details?<%=line.ddQuery%>"><%=line.lib%><span style="visibility:hidden"> ,<%=line.order%></span></a></div> </td>
							<td class="content color_X"><a href="/accueil?<%=line.dbQuery%>"><%=line.ca%></a></td>
							<td class="content color_background_<%=line.caEvo.cls%> linkExpand"><span><%=line.caEvo.val%></span></td>
							<td class="content color_underline_<%=line.acc.cls%>"><%=line.acc.val%></td>
							<td class="content color_underline_<%=line.serv.cls%>"><%=line.serv.val%></td>
							<td class="content color_underline_<%=line.oa.cls%>"><%=line.oa.val%></td>
							<td class="content color_underline_<%=line.rem.cls%>"><%=line.rem.val%></td>
						</tr>
					<%~%>
				</tbody>
				<tfoot>
					<tr>
						<td>TOTAL</td>
						<td class="color_X"><a href="<%=it.totals.dbQuery%>"><%=it.totals.ca%></a></td>
						<td class="color_background_<%=it.totals.caEvo.cls%>" ><%=it.totals.caEvo.val%></td>
						<td class="color_underline_<%=it.totals.acc.cls%>"><%=it.totals.acc.val%></td>
						<td class="color_underline_<%=it.totals.serv.cls%>"><%=it.totals.serv.val%></td>
						<td class="color_underline_<%=it.totals.oa.cls%>"><%=it.totals.oa.val%></td>
						<td class="color_underline_<%=it.totals.rem.cls%>"><%=it.totals.rem.val%></td>
					</tr>
				</tfoot></div>
			</table>
		</script>
    </head>
    <body>
        <div id="mainContent">
			<div id="mainContentTop">
                <div id="breadcrumb">
					<div id="bouton-home">
						<div id="bouton">
							<a>
								<span id="prd" class="active">Produits</span><span id="org" class="active">Lieux</span>
							</a>
						</div>
					</div>
				</div>
				
            </div>
            <div id="mainContentMiddle">
            </div>
            <div id="mainContentBottom">
                <div id="refreshTimer"></div>
            </div>
			
        </div>
        <div id="blueC">
	        <div id="blueContentTop"></div>			
	        <!-- <div id="blueContentMid"></div>			
	        <div id="blueContentBot"></div>	-->
	    </div>
        <div style="clear: both;"></div>
    </body>
</html>