<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Darty Wynn</title>
        <link rel="stylesheet" type="text/css" href="default.css" />
        @@base_scripts@@
        @@scripts@@
        <script type="text/javascript">
            darty.wynn.pageData = {{=JSON.stringify(it)}};
            darty.wynn.gui.details.start();
        </script>
        <script id="tmplDetailsTable" type="text/x-dot-template">
            <table id="detailsTable" class="tablesorter">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Acc.</th>
                        <th>Gar.</th>
                        <th>OA.</th>
                        <th>Rem.</th>
                    </tr>
                </thead>
                <tbody>
                    <%~it.list:line%>
                        <tr>
                            <td><a href="/details?<%=line.ddQuery%>"><%=line.lib%></a></td>
                            <td><a href="/accueil?<%=line.dbQuery%>"><%=line.ca%></a></td>
                            <td class="<%=line.caEvo.cls%>"><a href="#" class="linkExpand"><%=line.caEvo.val%></a></td>
                            <td class="<%=line.acc.cls%>"><%=line.acc.val%></td>
                            <td class="<%=line.serv.cls%>"><%=line.serv.val%></td>
                            <td class="<%=line.oa.cls%>"><%=line.oa.val%></td>
                            <td class="<%=line.rem.cls%>"><%=line.rem.val%></td>
                        </tr>
                    <%~%>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td><%=it.totals.ca%></td>
                        <td class="<%=it.totals.caEvo.cls%>"><%=it.totals.caEvo.val%></td>
                        <td class="<%=it.totals.acc.cls%>"><%=it.totals.acc.val%></td>
                        <td class="<%=it.totals.serv.cls%>"><%=it.totals.serv.val%></td>
                        <td class="<%=it.totals.oa.cls%>"><%=it.totals.oa.val%></td>
                        <td class="<%=it.totals.rem.cls%>"><%=it.totals.rem.val%></td>
                    </tr>
                </tfoot>
            </table>
        </script>
    </head>
    <body>
        <div id="detailsContent"></div>
        <div id="refreshTimer"></div>
    </body>
</html>