<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Darty Wynn</title>
        <link rel="stylesheet" type="text/css" href="default.css" />
        @@base_scripts@@
        @@scripts@@
        <script type="text/javascript">
			obj = {{=JSON.stringify(it)}};
            darty.wynn.pageData = {{=JSON.stringify(it)}};
            darty.wynn.gui.details.start();
			var prd = "prd";
			var org = "org";
			// TODO : envoyer l'objet depuis le serv en ajax et le "cacher"
			obj.dims = {}
			obj.dims.org = {"org1":"Filiale","org2":"ZDV","org3":"Magasin","org4":"Vendeur"};
			obj.dims.prd = {"prd1":"Univers","prd2":"Rayon","prd3":"Gamme","prd4":"F. Budg","prd5":"F. Mkg","prd6":"Codic"} // couleur (R.K.), 
			// sera ajouté avec les droits d'utilisateur
        </script>
		<script type="text/javascript">
			
		</script>
        <script id="tmplDetailsTable" type="text/x-dot-template">
            <!-- <div id="menu"> -->
				
			<!-- </div> -->
			<table id="detailsTable">
                <thead>
                    <tr>
					    <th id="menu">
							<div id="zone">									
							</div>
							<div id="delete">
							</div>
						</th>
                        <th id="1">CA</th>
                        <th id="2">%</th>
                        <th id="3">Acc.</th>
                        <th id="4">Gar.</th>
                        <th id="5">OA.</th>
                        <th id="6">Rem.</th>
                    </tr>
                </thead>
                <tbody>
                    <%~it.list:line%>
                        <tr>
                            <td class="content first-column"> <div class="code"><a href="/details?<%=line.ddQuery%>"><%=line.cd%></a> </div>  <div class="libelle"><a href="/details?<%=line.ddQuery%>"><%=line.lib%></a></div> </td>
                            <td class="content color_X"><a href="/accueil?<%=line.dbQuery%>"><%=line.ca%></a></td>
                            <td class="content color_ <%=line.caEvo.cls%>"><span class="linkExpand"><%=line.caEvo.val%></span></td>
                            <td class="content color_underline_0 <%=line.acc.cls%>"><%=line.acc.val%></td>
                            <td class="content color_underline_1 <%=line.serv.cls%>"><%=line.serv.val%></td>
                            <td class="content color_underline_2 <%=line.oa.cls%>"><%=line.oa.val%></td>
                            <td class="content color_underline_3 <%=line.rem.cls%>"><%=line.rem.val%></td>
						</tr>
                    <%~%>
                </tbody>
                <tfoot>
                    <tr>
						<td></td>
                        <td class="color_X"><%=it.totals.ca%></td>
                        <td class="color_1 <%=it.totals.caEvo.cls%>"><%=it.totals.caEvo.val%></td>
                        <td class=" color_underline_0 <%=it.totals.acc.cls%>"><%=it.totals.acc.val%></td>
                        <td class=" color_underline_1 <%=it.totals.serv.cls%>"><%=it.totals.serv.val%></td>
                        <td class=" color_underline_2 <%=it.totals.oa.cls%>"><%=it.totals.oa.val%></td>
                        <td class=" color_underline_3 <%=it.totals.rem.cls%>"><%=it.totals.rem.val%></td>
                    </tr>
                </tfoot>
            </table>
        </script>
    </head>
    <body>
        <div id="mainContent">
            <div id="mainContentTop">
                <div id="breadcrumb">
					<div id="bouton-home">
						<div id="bouton">
							<span id="prd" class="active">Produits</span><span id="org" class="active">Lieux</span>
						</div>
					</div>
				</div>
            </div>
            <div id="mainContentMiddle">
            </div>
            <div id="mainContentBottom">
                <div id="refreshTimer"></div>
            </div>
        </div>
        <div id="blueContent"></div>
        <div style="clear: both;"></div>
    </body>
</html>