<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Darty Wynn</title>
	</head>
    <body>
        <div>
            <form method="post" target="">
                nom : <input type="text" name="username" /><br />
                mot de passe : <input type="password" name="password" /><br />
                <input type="submit" value="valider" />
            </form>
            <div>{{=it.message||''}}</div>
        </div>
    </body>
</html>