div.menu {
display:none;
}

div#ariane {
display:inline-block;
}
div#ariane1, div#ariane2 {
display:block;
}

.active {background-color : blue;}

.noActive {background-color: gray;}

#bouton span {
border: 1px solid black;
padding: 3px 10px;
}

#bouton {
	float: right;
	display: inline-block;
}

div#zone {
position:absolute;
float:left;
width: 90px;
background : LightGreen;
padding: 2px 0px 4px 10px;
border:1px solid black;
} 

body {
    margin: 0;
    font-family: arial;
}

#mainContent {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 43.75%;
}

#blueContent {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 56.25%;
    background-color: rgb(90, 153, 211);
}

#mainContentTop {
    position: absolute;
    top: 0px;
    height: 50px;
    width: 100%;
}

#mainContentMiddle {
    position: absolute;
    top: 50px;
    bottom: 50px;
    width: 100%;
    overflow: auto;
}

#mainContentBottom {
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
}

#detailsTable {
    margin: 0px auto;
}

#detailsTable th,
#detailsTable td {
    padding: 3px 6px;
}

#refreshTimer  {
    color: #7F7F7C;
    cursor: pointer;
    text-align: right;
    width: 230px;
    float:right;
    font-size: 8px;
    background-color: #D7D7F4; 
    margin-top:30px;
    
}

.evolution {text-align:right;width:70px;}
.fixe {text-align:right;padding-right:5px;width:60px;color:rgb(91,155,213);}
div.CA>table tr>th.fixe {font-size:72px;}
div.CA>table tr>th.evolution {font-size:36px; float:right;}
div.indicateurs .label {font-size: 18px;text-align:right;}
div.indicateurs .value {font-size: 18;text-align:right;}
.liste {width:170px;text-align:right;}
.CA,.CAevol {width:50px; text-align:right;}
.OA,.REM,.PSE,.ACC,#OA,#REM,#PSE,#ACC {position:relative;display:none; width:50px; text-align:middle;}
div.indicateurs {width: 300px; margin-left: 128px; margin-top: 70px;}
div.bottom-line {line-height:1px;font-size: 14px;margin-top: 55px;margin-left:85px;}
.concretisation,.ventes,.entrees {display:inline;}
#content-left {border-width:1px;border-style:dotted;border-color:black;float:left;width:500px;height:500px;font-family:Arial;}
#content-right {width:400px; background:rgb(90,153,211);float:right;margin-right:400px;padding-left:10px;height:500px;}
#content {border-width:1px;border-style:dotted;border-color:black;}
div.CA>table {width: 350px;text-align: right;margin-right: auto;margin-left: auto;margin-top: 10px;}


#content {
position:absolute;
left:250px;
top:32px;
margin-top:28px;
border-width:1px;
border-style:dotted;
border-color:black;}





#informations {display:none;}

#affichageCa (cursor:pointer;)

.color_X {color:rgb(91,155,213)}
.color_0 {color:rgb(255,0,0);} 
.color_1 {color:rgb(255,192,0);}
.color_2 {color:rgb(146,208,80);} 
.color_3 {color:rgb(0,176,80);} 
.color_gray {color:rgb(187,187,187);}


